<mat-card>
    <h1>Add new category</h1>
    <mat-card-content>
        <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appreance="outline">
                <mat-label>Title</mat-label>
                <input required type="text" name="title" matInput placeholder="Enter here" [(ngModel)]="category.title">
            </mat-form-field>
            <mat-form-field class="w100" appreance="outline">
                <mat-label>Description</mat-label>
                <input type="text" name="title" matInput placeholder="Enter here" [(ngModel)]="category.description">
            </mat-form-field>
            <div class="container text-center">
                        <button class="mr10" type="submit" mat-raised-button color="primary">Add</button>
                        <button type="submit" mat-raised-button color="primary">Reset</button>
                    </div>
        </form>
    </mat-card-content>
</mat-card>