<mat-toolbar color="primary">
  <!-- Left side: Logo/Menu -->
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Home">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Exam Portal</span>

  <!-- Spacer pushes the next items to the right -->
  <span class="spacer"></span>

  <!-- Right side: Conditional buttons -->
  <!-- Show when NOT logged in -->
  <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/login'" class="favorite-icon" aria-label="Login">
    Login
  </a>

  <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/sign-up'" class="favorite-icon mr20 ml20" aria-label="Register">
    Register
  </a>

<!-- Show when logged in -->
<button *ngIf="isLoggedIn && user" mat-button class="favorite-icon ml20" disabled>
  {{user.username}}
</button>


  <a *ngIf="isLoggedIn" (click)="logout()" mat-button class="favorite-icon mr20 ml20" aria-label="Logout">
    Logout
  </a>
</mat-toolbar>
