<div class="bootstrapper-wrapper mt20">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Add Question to <strong>{{ qTitle }}</strong></h2>
            {{ question | json }}
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>Enter the details for the Question</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="mt20" (submit)="formSubmit()">
                        <mat-form-field class="w100">
                            <mat-label>Write question content</mat-label>
                            <textarea [(ngModel)]="question.content" name="content" matInput rows="8"></textarea>

                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Option 1</mat-label>
                                    <input [(ngModel)]="question.option1" name="option1" matInput type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Option 2</mat-label>
                                    <input [(ngModel)]="question.option2" name="option2" matInput type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Option 3</mat-label>
                                    <input [(ngModel)]="question.option3" name="option3" matInput type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Option 4</mat-label>
                                    <input [(ngModel)]="question.option4" name="option4" matInput type="text">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- select option for answer -->
                        <mat-form-field class="w100">
                            <mat-label>
                                Select Correct Option
                                <mat-select [(ngModel)]="question.answer" name="answer">
                                    <mat-option disabled selected>Choose your option</mat-option>
                                    <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                                    <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                                    <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                                    <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                                </mat-select>
                            </mat-label>
                        </mat-form-field>
                        <div class="container text-center mb20">
                            <button mat-raised-button color="primary" type="submit">Add Question</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>