<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Register Here!!</h1>
                {{user | json}}
                <form #registerForm="ngForm" (ngSubmit)="formSubmit(registerForm)" action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter here" name="username" [(ngModel)]="user.username">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter here" name="password" [(ngModel)]="user.password">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Firstname</mat-label>
                        <input matInput placeholder="Enter here" name="firstname" [(ngModel)]="user.firstname">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input matInput placeholder="Enter here" name="lastname" [(ngModel)]="user.lastname">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Enter here" name="email" [(ngModel)]="user.email">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input matInput type="number" placeholder="Enter here" name="phonenumber" [(ngModel)]="user.phonenumber">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>