<mat-card>
  <mat-nav-list>
    <div mat-subheader>
      Menu
    </div>

    <a mat-list-item [routerLink]="'/admin-dashboard'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>home</mat-icon>
      <div matListItemTitle>Home</div>
    </a>

    <a mat-list-item [routerLink]="'/admin-dashboard/profile'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <div matListItemTitle>Profile</div>
    </a>

    <a mat-list-item [routerLink]="'/admin-dashboard/add-category'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
      <div matListItemTitle>Add Categories</div>
    </a>

    <a mat-list-item [routerLink]="'/admin-dashboard/categories'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>list</mat-icon>
      <div matListItemTitle>Categories</div>
    </a>

    <a mat-list-item [routerLink]="'/admin-dashboard/add-quiz'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>add</mat-icon>
      <div matListItemTitle>Add Quiz</div>
    </a>

    <a mat-list-item [routerLink]="'/admin-dashboard/quizzes'" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>list</mat-icon>
      <div matListItemTitle>View Quizzes</div>
    </a>
  </mat-nav-list>
</mat-card>